AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: AlignAfterOperator
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortLambdasOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes
BasedOnStyle: microsoft
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit: 120
EmptyLineBeforeAccessModifier: Always
IncludeBlocks: Regroup
Language: Cpp
NamespaceIndentation: None
PointerBindsToType: true
QualifierAlignment: Right
SeparateDefinitionBlocks: Always
SortIncludes: true
